<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<h2>File Upload</h2>
<form action="/upload" method="post" enctype="multipart/form-data">
    <table>
        <tr>
            <td>Description</td>
            <td><textarea name="description" cols="30" rows="10"></textarea></td>
        </tr>
        <tr>
            <td>Upload:</td>
            <td><input type="file" name="myfile"></td>
        </tr>
        <tr>
            <td></td>
            <td><button type="submit">Upload</button></td>
        </tr>
    </table>
</form>
<body>
    
</body>
</html>