<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload details</title>
</head>
<body>
    <table>
        <tr>
            <td>Control Name:</td>
            <td><span data-th-text="${controlName}"></span></td>
        </tr>
        <tr>
            <td>File Name:</td>
            <td><span data-th-text="${fileName}"></span></td>
        </tr>
        <tr>
            <td>Media Type:</td>
            <td><span data-th-text="${mediaType}"></span></td>
        </tr>
        <tr>
            <td>File Size:</td>
            <td><span data-th-text="${fileSize}"></span></td>
        </tr>
    </table>
    
</body>
</html>